
#Link do Dataset
(https://www.kaggle.com/datasets/thedevastator/predicting-credit-card-customer-attrition-with-m)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### IMPORT DATASET

In [2]:
df = pd.read_csv('/content/BankChurners.csv')

### EDA - AN√ÅLISE EXPLORATORIA

In [3]:
df.head(5)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [4]:
#df_education = pd.get_dummies(df['Education_Level'])

### TRATAMENTO DOS DADOS - PRE PROCESSAMENTO

In [5]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [6]:
le = LabelEncoder()
le.fit(df['Education_Level'].drop_duplicates())
df['Education_Level'] = le.transform(df['Education_Level'])

#High School = 3
#Graduate = 2
#Unknown = 6
#Uneducated = 5
#College = 0
#Post Graduate = 4
#Doctorate = 1

In [7]:
le = LabelEncoder()
le.fit(df['Marital_Status'].drop_duplicates())
df['Marital_Status'] = le.transform(df['Marital_Status'])

#Married = 1
#Single = 2
#unknown = 3
#Divorced = 0

In [8]:
df['Gender'].value_counts()

F    5358
M    4769
Name: Gender, dtype: int64

In [9]:
le.fit(df['Gender'].drop_duplicates())
df['Gender'] = le.transform(df['Gender'])

#F = 0
#M = 1

In [10]:
le.fit(df['Attrition_Flag'].drop_duplicates())
df['Attrition_Flag'] = le.transform(df['Attrition_Flag'])
#Existing Customer = 1
#Attrited Customer = 0

In [11]:
le.fit(df['Income_Category'].drop_duplicates())
df['Income_Category'] = le.transform(df['Income_Category'])
#Less than $40K = 4
#$40K - $60K = 1
#$80K - $120K = 3
#$60K - $80K = 2
#Unknown = 5
#$120K + = 0

In [12]:
le.fit(df['Card_Category'].drop_duplicates())
df['Card_Category'] = le.transform(df['Card_Category'])

#Blue = 0
#Silver = 3
#Gold = 1
#Platinum = 2

In [13]:
df = df.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2',
               'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
              'CLIENTNUM'],axis=1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  int64
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  int64
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  int64
 5   Marital_Status            10127 non-null  int64
 6   Income_Category           10127 non-null  int64
 7   Card_Category             10127 non-null  int64
 8   Months_on_book            10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Months_Inactive_12_mon    10127 non-null  int64
 11  Contacts_Count_12_mon     10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Trans_Amt           10127 non-null  int64
 17  Total_Trans_Ct            10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(15)
memory usage: 1.5 MB

### TRAIN, TEST, SPLIT

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X = df.drop('Attrition_Flag', axis=1)
y = df['Attrition_Flag']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [18]:
sc = StandardScaler()


# Para utilizar precisamos realizar um fit e um transform, para que realize o calculo de normaliza√ß√£o
# e aplique no X_train
X_train = sc.fit_transform(X_train)

# Posteriormente, s√≥ aplicamos no X_test
X_test = sc.transform(X_test)

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

### LOGISTIC REGRESSION

In [20]:
lr = LogisticRegression(max_iter=15000)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [21]:
from sklearn.metrics import classification_report, confusion_matrix

In [22]:
print("\nreport de classifica√ß√£o:")
print(classification_report(y_pred, y_test))
# print("\nmatriz de confusao:")
# print(confusion_matrix(y_pred,y_test))

report de classifica√ß√£o:
              precision    recall  f1-score   support

           0       0.56      0.77      0.64       393
           1       0.97      0.92      0.94      2949

    accuracy                           0.90      3342
   macro avg       0.76      0.84      0.79      3342
weighted avg       0.92      0.90      0.91      3342

### RANDOM FOREST

In [23]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

In [24]:
print("\nreport de classifica√ß√£o:")
print(classification_report(y_pred, y_test))
print("\nmatriz de confusao:")
print(confusion_matrix(y_pred,y_test, normalize='true'))

report de classifica√ß√£o:
              precision    recall  f1-score   support

           0       0.82      0.92      0.87       477
           1       0.99      0.97      0.98      2865

    accuracy                           0.96      3342
   macro avg       0.90      0.94      0.92      3342
weighted avg       0.96      0.96      0.96      3342


matriz de confusao:
[[0.9245283  0.0754717 ]
 [0.03490401 0.96509599]]

### KNN

In [25]:
from sklearn.neighbors import KNeighborsClassifier

In [26]:
knn = KNeighborsClassifier(n_neighbors=2)

In [27]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=2)

In [28]:
y_pred = knn.predict(X_test)

In [29]:
print("\nreport de classifica√ß√£o:")
print(classification_report(y_pred, y_test))
print("\nmatriz de confusao:")
print(confusion_matrix(y_pred,y_test, normalize='true'))

report de classifica√ß√£o:
              precision    recall  f1-score   support

           0       0.69      0.58      0.63       648
           1       0.90      0.94      0.92      2694

    accuracy                           0.87      3342
   macro avg       0.80      0.76      0.78      3342
weighted avg       0.86      0.87      0.86      3342


matriz de confusao:
[[0.5787037  0.4212963 ]
 [0.06161841 0.93838159]]